$def with (required_time,number_of_instances,spot_instance_price,num_of_request_ids,tip,response,tipsirfull,sir_full_details,all_instance_details)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ORCA - tool for starting EC2 instances which will be automatically stopped </title>
</head>
Details: Required time:  $required_time, Number of instances: $number_of_instances, Price $spot_instance_price
<br><br>
Num of request ids: $num_of_request_ids
<br><br>
Type of num of request ids: $tip
<br><br>
Full response: $response
<br><br>
Tip sir full details: $tipsirfull
<br><br>
SIR full details: $sir_full_details
<br><br>
All instance details: $all_instance_details
</body>
</html>
